.stepper {
  display: flex;
  align-items: center;

  .stepperBtn {
    border: none;
    background: none;
    color: $white;

    &:disabled {
      cursor: not-allowed;
    }

    &:first-child:hover {
      color: $red-500;
    }

    &:last-child:hover {
      color: $blue-100;
    }
  }

  input {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0 1rem;

    background-color: transparent;
    border: none;
    width: 1.4rem;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:read-only {
      box-shadow: none;
    }
  }
}
