:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px $blue-100;
  border-radius: 5px;

  &:not(:focus-visible) {
    outline: none;
    box-shadow: 0 0 0;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $white;
  color: $blue-900;
}

::-webkit-scrollbar {
  background-color: $gray-900;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $blue-900;
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 0s 50000s;
}

img,
svg {
  pointer-events: none;

  &::selection {
    background: none;
  }
}

body {
  background: $gray-900;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: $white;
}

body,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a {
  transition: 200ms filter;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

a:hover {
  filter: brightness(0.8);
}

ul {
  list-style: none;
}

@media (max-width: $desktop) {
  html {
    font-size: 87.5%;
  }
}
