//colors
$white: hsl(0, 0%, 100%);

$gray-50: hsla(0, 0%, 0%, 0.32);
$gray-100: hsla(0, 0%, 100%, 0.3);
$gray-200: hsl(240, 7%, 78%);
$gray-900: hsl(200, 100%, 3%);

$blue-50: hsla(201, 22%, 13%, 1);
$blue-100: hsl(186, 100%, 75%);
$blue-500: hsl(199, 100%, 15%);
$blue-800: hsla(200, 48%, 10%, 1);
$blue-900: hsl(199, 100%, 5%);

$yellow-500: hsla(32, 96%, 64%, 1);

$green-500: hsla(147, 96%, 42%, 1);

$red-500: hsl(354, 100%, 29%);

$desktop: 992px;
$tablet: 411px;
