.wrapper {
  min-height: 100vh;
  display: grid;

  grid-template-rows: 8rem auto 5rem;

  @media screen and (min-width: $desktop) {
    grid-template-rows: 6.5rem auto 5rem;
  }
}

.content {
  max-width: 90rem;

  margin: 2rem auto;
  padding: 0 1rem;
}
