.logo {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  svg {
    width: 2.625rem;
  }

  &.logoSmall {
    font-size: 0.75rem;

    svg {
      width: 1.5rem;
    }

    &.gray {
      color: $gray-100;
    }
  }

  &.gray {
    svg {
      width: 1.5rem;

      & path {
        fill: $gray-100;
      }
    }
  }
}
