.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1.4rem;

  background: $blue-900;
  border-radius: 16px;

  padding: 0 4rem;
  height: 37.5rem;

  width: min(29.75rem, 90vw);

  > div {
    width: 100%;
  }

  legend {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  input {
    width: 100%;
    border-radius: 0.5rem;
    padding: 12px;
    background: inherit;
    border: 0.0625rem solid $white;
  }

  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
  }

  button {
    width: 100%;
    margin: 12px 0;
    border-radius: 0.5rem;
    padding: 0.75rem 0.875rem;
    background: $red-500;
    color: $white;
    border: 0;
    cursor: pointer;
  }
}

.error {
  color: $red-400;
  font-size: 0.875rem;
}
