.footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  padding: 0 3.75rem;

  background-color: $blue-900;

  span {
    color: $white;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;

    line-height: 1rem;
    padding-bottom: 0.5rem;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
